$font-color: #333;
$link-font-color: #4175C7;

$site-description-color: #333;

$footnote-font-color: #eee;
$footnote-bg-color: #999;
$footnote-divider-color: #eee;
$footnote-ref-color: #666;

$selection-font-color: #333;
$selection-back-color: #eee;

$post-title-list-color: #333;

$post-title-color: #333;
$post-date-color: #666;
$blockquote-color: #666;

$heading-num-color: #888;

$tag-light-color: #eee;
$tag-dark-color: #222;
$tag-list-border-color: #eee;

$page-top-border-color: #eee;