@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Inter:wght@100;200;300;400;500;700;900&display=swap');

$font: "Inter", "Noto Sans KR", sans-serif;
$code-font: "Fira Code", "Nanum Gothic Coding", monospace;

$font-size: 18px;
$font-weight: 300;