@import "icons";
@import "fonts";
@import "colors";

@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

html {
  font-family: $font;
  font-size: $font-size;
  @include mobile {
    font-size: $mobile-font-size;
  }
  font-weight: $font-weight;
  line-height: 1.45;
  letter-spacing: 0;
  word-spacing: -0.05em;
  color: $font-color;
}

/* heading */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: .5em 0;
  padding: 0;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: -0.03em;
}

/* passage, link */
a {
  cursor: pointer;
  text-decoration: none;
  color: $link-font-color;
  &:link, &:hover, &:active, &:visited { color: $link-font-color; }
}
p { margin: .8em 0; }

/* list */
ol ul, ul ol, ul ul, ol ol {
  margin: 0;
  li { margin: .2em 0; }
}
ul, ol {
  margin: .8em 0;
  padding-left: 1.5em;
}
li p { margin: .3em 0; }

/* font style */
em, i { font-style: italic; }
strong, b { font-weight: 700; }

/* sup, sub */
sup, sub { font-size: .67em;}

/* table */
td, th {
  border: 1pt solid #eee;
  padding: 2pt 7pt;
  font-size: .9em;
}
th { font-weight: 700; }
thead { white-space: nowrap; }

/* image */
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* selection */
::-moz-selection,
::selection {
  color: $selection-font-color;
  background: $selection-back-color;
}
