header {
  text-align: center;
  margin: 22.5pt 0;
  a {
    margin: .6em;
    color: $font-color;
    &:link, &:hover, &:active, &:visited { color: $font-color; }
  }
}

footer {
  margin-top: 35pt;
  padding: 15pt 0;
  text-align: center;
}

main {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
}

.site-name {
  margin: 0;
  font-family: $font;
  font-weight: 600;
  font-size: 1.7em;
  letter-spacing: -.1em;
}
.site-name1 {
  color: #666;
  font-weight: 200;
}

.site-description {
  margin: 3px auto 15pt;
  color: $site-description-color;
  font-size: 1em;
  text-align: center;
}
