header {
  text-align: center;
  margin: 22.5pt 0;
  a {
    color: $font-color;
    &:link, &:hover, &:active, &:visited { color: $font-color; }
  }
}

main {
  max-width: 660px;
  width: 100%;
  margin: 0 auto 1.5em;
}

.site-banner {
  margin: 0;
  display: inline-block;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: -.09em;
}

.site-description {
  margin: -.8em auto 15pt;
  color: $site-description-color;
  font-size: .6em;
  text-align: center;
}

.site-icons {
  text-align: center;
  font-size: 1.5em;
  line-height: 1;
  margin: 1em 0;
}