header {
  text-align: center;
  margin: 22.5pt 0;
  a {
    margin: .3em;
    color: $font-color;
    &:link, &:hover, &:active, &:visited { color: $font-color; }
  }
}

footer {
  margin-top: 35pt;
  padding: 15pt 0;
  text-align: center;
}

main {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
}

.site-banner {
  margin: 0;
  display: inline-block;
  font-family: $font;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: -.09em;
}

.site-description {
  margin: -.8em auto 15pt;
  color: $site-description-color;
  font-size: .6em;
  text-align: center;
}
