/* post heads */
.title {
  color: $post-title-color;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 3px;
}

.date {
  display: block;
  font-size: 14px;
  color: $post-date-color;
}

/* post contents */
.content { margin-top: 40px; }

.post {
  padding-bottom: 40px;

  blockquote {
    background: #00000006;
    margin: 0;
    border-left: 1px solid #0000001f;
    padding: 0.1em 1em;
    color: $blockquote-color;
    font-size: 16px;
  }

  .title {
    font-size: 28px;
    font-weight: 500;
    margin: 0px;
  }
}

/* heading numbers */
@mixin head-counter($n) {
  @if $n<6 {counter-reset: hc#{$n + 1};}
  &:before {
    $content: "";
    @for $i from 1 to ($n+1) { $content: #{$content}counter(hc#{$i})"."; }
    content: $content;
    counter-increment: hc#{$n};
  }
}

.content {
  counter-reset: hc1;
  h1, h2, h3, h4, h5, h6 {
    &:before {
      font-size: 12px;
      font-weight: 450;
      vertical-align: 20%;
      margin-right: 5px;
      color: $heading-num-color;
      font-variant-numeric: tabular-nums;
    }
  }

  h1 { @include head-counter(1) }
  h2 { @include head-counter(2) }
  h3 { @include head-counter(3) }
  h4 { @include head-counter(4) }
  h5 { @include head-counter(5) }
  h6 { @include head-counter(6) }
}

/* footnotes */
.footnotes {
  border-top: 1px solid $footnote-divider-color;
  font-size: 14px;
  ol {
    list-style: none;
    counter-reset: item;
    padding-left: 10px;
    li {
      counter-increment: item;
      line-height: 1.1em;
      margin: 3px 0;
      p {
        display: inline;
        margin: 0;
      }
    }
    li::before {
      content: counter(item);
      font-family: $code-font;
      padding: 0px 3px;
      margin: 0 0 2px 0;
      border-radius: 3px;
      font-weight: normal;
      font-size: 11px;
      background-color: $footnote-bg-color;
      display: inline-block;
      color: $footnote-font-color;
      vertical-align: middle;
    }
  }
  a { color: $footnote-ref-color; }
}
sup .footnote {
  margin: 0px 3px 0px 2px;
  padding: 0px 3px;
  border-radius: 3px;
  font-family: $code-font;
  font-size: 9px;
  font-weight: 400;
  background-color: $footnote-bg-color;
  color: $footnote-font-color;
  a {
    color: $footnote-font-color;
    &:link, &:hover, &:active, &:visited { color: $footnote-font-color; }
  }
}

.reversefootnote { display: none; }

/* horizontal scroller */
.scroll-wrapper { max-width: 100%; }
.scrollable {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {display: none;}
}

/* katex layout */
.katex-display {
  padding: 0 2px;
  overflow: auto hidden;
  &::-webkit-scrollbar { display: none;}
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* katex fonts */
.katex { letter-spacing: 0; }
.katex .mord.text .hangul_fallback {
  font-family: "Pretendard Variable", sans-serif;
  font-weight: 300;
}
