.post-title-list {
  color: $post-title-list-color;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: .1em;
  margin-left: 0;
  a {
    color: inherit;
    &:link, &:hover, &:active, &:visited { color: inherit; }
  }
}

.posts {
  width: fit-content;
  margin: 0 auto;
  > .post { padding-bottom: 0;}
}
