<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}
    {% include katex.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/{{ page.layout }}.css" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.img_baseurl }}/favicon.png">
  </head>

  <body>
    <header>
      <a href="/" class="site-name"><span class="site-name1">THE</span>JB.AI</a>
      <p class="site-description">{{ site.description }}</p>
      <a href="https://github.com/the-jb/"><span class="github-icon"></span></a>
      <a href="/about"><span class="about-icon"></span></a>
    </header>

    <main role="main">
      {% include tags.html %}
      {{ content }}
    </main>

    <footer>
      <a href="javascript:window.scrollTo(0,0);"><span class="gototop-icon"></span></a>
    </footer>

  {% include scripts.html %}
  </body>
</html>
