<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}
    {% include katex.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.img_baseurl }}/favicon.png">
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/"><span class="site-name1">THE</span><span class="site-name2">JB.AI</span></a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="https://github.com/{{ site.github_username }}/"><i class="svg-icon github"></i></a>
            <a href="/about"><i class="svg-icon about"></i></a>
          </nav>
        </header>
      </div>

      <div class="container">
        <div class="tag-list">
          {% include tags.html %}
        </div>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <a href="javascript:window.scrollTo(0,0);"><i class="gototop-icon"></i></a>
        </footer>
      </div>
    </div>

    {% include scripts.html %}
    {% include analytics.html %}
  </body>
</html>
