<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>
    <link rel="preconnect" href="{{ site.img_baseurl }}" crossorigin />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

{% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.img_baseurl }}/favicon.png">
  </head>

  <body>
    <header>
      <a href="/" class="site-banner" >
        <img src="{{ site.img_baseurl }}/jb.png" style="width: 5em; height: 5em;"/>
        <span>THE JB</span>
      </a>
      <p class="site-description">{{ site.description }}</p>
      <p class="site-icons">
        {% for linkicon in site.link_icons %}<a href="{{ linkicon.url }}" style="display: inline-block; margin: 0 0.25em;" target="_blank" rel="noopener noreferrer"><img src="{{ site.img_baseurl }}{{ linkicon.icon }}" style="width: 1em; height: 1em;"></a>{% endfor %}
      </p>
    </header>

    <main role="main">
      {{ content }}
    </main>

  </body>
</html>
