---
layout: default
---

<article class="post">
  <h1 class="title">{{ page.title }}</h1>
  <div class="date">
    {{ page.date | date: "%Y.%m.%d" }}
  </div>
  {% for post_tag in page.tags %}
  <a class="tag" href="/?tag={{ post_tag }}">{{ post_tag }}</a>
  {% endfor %}

  <div class="content">
    {{ content }}
  </div>

</article>

<script src="{{ site.giscus.src }}"
        data-repo="{{ site.giscus.data_repo }}"
        data-repo-id="{{ site.giscus.data_repo_id }}"
        data-category="{{ site.giscus.data_category }}"
        data-category-id="{{ site.giscus.data_category_id }}"
        data-mapping="{{ site.giscus.data_mapping }}"
        data-reactions-enabled="{{ site.giscus.data_reactions_enabled }}"
        data-emit-metadata="{{ site.giscus.data_emit_metadata }}"
        data-theme="{{ site.giscus.data_theme }}"
        crossorigin="{{ site.giscus.crossorigin }}"
        async>
</script>